.photo-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    background-color: #b1afaf;
    border-radius: 10px;
    height: auto;
    min-height: 600px;
}

.photo-detail img {
    width: 30vw;
    height: auto;
    border-radius: 8px;
    margin-bottom: 2%;
    margin-top: 2%;
    box-shadow: 12px -8px 18px rgba(0, 0, 0, 0.4);
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.error-message {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 1.5rem;
}

.error-message p {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .photo-detail {
        flex-direction: column;
        align-items: center;
    }

    .photo-detail img {
        width: 100%;
        max-width: 500px;
        min-width: 316px;
        box-shadow: none;
    }

    .photo-info {
        margin-left: 0;
        text-align: center;
    }

    .error-message {
        flex-direction: column;
    }

    .error-message p {
        margin-right: 0;
    }
}