.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.title-gallery {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.loading-spinner {
    text-align: center;
    margin: 20px;
    font-size: 1.2rem;
    color: #555;
}

.end-message {
    text-align: center;
    margin: 20px;
    font-size: 1.2rem;
    color: #888;
}

@media (max-width: 1200px) {
    .title-gallery {
        font-size: 50px;
    }
}

@media (max-width: 900px) {
    .title-gallery {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    .title-gallery {
        font-size: 30px;
    }
}