.photo-info {
    width: 40vw;
    text-align: center;
}

.photo-info .category-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
    text-align: center;
}

.photo-info p {
    font-size: 16px;
    color: #555;
    text-align: center;
}

.likes {
    font-size: 16px;
    color: #ff0000 !important;
    text-align: center;
}