.back-button {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s;
}

.back-button:hover {
    background-color: #646cff;
}